html, body {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
}

.keanu__image {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.keanu__actions {
  display: flex;
  justify-content: center;
  
}

.keanu__button {
  background-color: skyblue;
  border: none;
  color: white;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem;
}
